header  h1,
section h1,
footer  h1 {
    font-size: 48px;
}


header address {
    line-height: 150%;
}


article {
    font-size: 26px;
}




article ul.navi li {
    color: #ccc;
}
article ul.navi li.here {
    color: #333;
    font-weight: bolder;
}


article pre {
    margin: 20px 15px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #fff;
    font-size: 24px;
}


article pre[lang="terminal"] {
    color: #fff;
    background: #000;
}

article .font-32 { font-size: 32px; }
article .font-30 { font-size: 30px; }
article .font-28 { font-size: 28px; }
article .font-26 { font-size: 26px; }
article .font-24 { font-size: 24px; }
article .font-22 { font-size: 22px; }
article .font-20 { font-size: 20px; }
article .font-19 { font-size: 19px; }
article .font-18 { font-size: 18px; }
article .font-17 { font-size: 17px; }
article .font-16 { font-size: 16px; }
article .font-15 { font-size: 15px; }
article .font-14 { font-size: 14px; }
article .font-13 { font-size: 13px; }
article .font-12 { font-size: 12px; }

